@import 'src/assets/styles/variables';
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	> div > button {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 30px;
		> svg > path {
			color: #fff;
		}
	}
}
